========================================================================
README for scalar/vector 2D visualization 

========================================================================

Requirements
========================================
The project requires Python 3 or higher version with numpy and matplotlib libraries.
It can run on any Operating System having support for Python 3.

Compilation/Execution Guide
========================================
1. Run the source .py files in command propmt with python prefix.
2. On running the file enter the path for data set and aggregation value as per the requirement of visualization generation.

